.admin-page {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #007bff;
  color: #fff;
}

.header .icons i {
  margin: 0 10px;
  cursor: pointer;
}
.welcome-message {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.welcome-message h2 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #333;
}

.welcome-message h2 span {
  color: #007bff;
}
.horizontal-bar-chart-container {
  width: 60%;
  margin: 0 auto; 
}

.horizontal-bar-chart {
  height: 330px; 
}
.header .profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header .profile-details {
  margin-left: 10px;
}

.dropdown {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
}

.dropdown a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: #f0f0f0;
}

.welcome-message {
  padding: 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.filters {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.filter-link {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  color: #333;
  text-decoration: none;
  transition: transform 0.2s;
}

.filter-link:hover {
  transform: scale(1.05);
}

.filter-link i {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
}

.statistics {
  padding: 20px;
}

.charts {
  display: flex;
  justify-content: space-around;
}

.chart {
  width: 45%;
}
