body{
    background-image: url(backgroundaaa.avif);
    background-size:cover;
}
.login-container {
    width: 400px;
    margin-top: 200px;
    padding: 2rem;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    margin-top: 50px;

    /* margin-top: 1rem; */
  }
  
  .login-form .form-label {
    font-weight: bold;
  }
  
  .login-button {
    width: 20%;
    padding: 10px;
    margin-left:40% ;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
  .text-center {
    text-align: center;
  }
  