/* components/Sidebar.css */
.sidebar-container {
    display: flex;
  }
  
  .sidebar {
    width: 120px; /* Adjust the width as needed */
    background-color: #f8f9fa;
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar-link {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #333;
    text-align: center;
  }
  
  .sidebar-link i {
    font-size: 30px; /* Adjust the icon size as needed */
  }
  
  .sidebar-link:hover {
    background-color: #e9ecef;
    border-radius: 10px;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  